In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('/Users/matthewen/Downloads/Tensorflow-in-10-Minutes-main/Churn.csv')

In [7]:
X = pd.get_dummies(df.drop(['Churn', 'Customer ID'], axis = 1))
y = df['Churn'].apply(lambda x: 1 if x == 'Yes' else 0)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [9]:
X_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
6369,1,2,94.00,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3512,0,53,24.60,False,True,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
5107,0,52,59.45,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
5698,0,70,109.50,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2834,0,66,61.15,True,False,True,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
y_train.head()

6369    1
3512    0
5107    0
5698    1
2834    0
Name: Churn, dtype: int64